<div class= 'splash-section'>
    <h1 class= 'category-heading'>My Expenditure Tracker</h1>
    <div class= 'login-signup'>
       <h1><%= link_to 'LOG IN', new_user_session_path, class: 'submit-btn splash' %></h1>
       <h1><%= link_to 'SIGN UP', new_user_registration_path, class: 'submit-btn splash' %></h1>
    </div>
    <h1 class= 'category-heading splash-devalibello'>The application was designed by devalibello &#128526 </h1>
  </div>