/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: 'calibri', 'Lato', 'Courier New', Courier, monospace;
}

body {
  background-color: whitesmoke;
}

.category-heading {
  text-align: center;
  background-color: rgb(29, 138, 206);
  color: white;
  padding: 5px;
  text-transform: uppercase;
}

.add-category {
  text-align: center;
  background-color: rgb(29, 206, 109);
  color: white;
  padding: 5px;
}

.gift-card-text {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2%;
}

.gift-cards-section {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.category-section {
  padding: 2%;
  margin: 2%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.icon-section {
  width: 150px;
  height: 150px;
}

.name-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 20px;
}

.total {
  margin-left: auto;
}

.payment-name-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.time {
  color: rgb(135, 137, 139);
}

.form-text {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-field {
  width: 20%;
}

.submit-btn {
  padding: 0.2%;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(29, 206, 109);
  font-weight: 700;
  border: none;
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 10px;
}

.text-padding {
  padding-left: 10px;
}

.category-log-out {
  margin: auto;
}

.log-out-section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(29, 138, 206);
  color: white;
  padding: 5px;
  text-transform: uppercase;
  align-items: center;
}

.log-out {
  padding: 0.2%;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  color: white;
  background-color: rgb(206, 64, 29);
  font-weight: 700;
  border: solid 2px white;
  font-size: 1rem;
  border-radius: 10px;
}

.bar {
  width: 25px;
  border: 1px solid white;
  margin: 2px;
}

.bars {
  display: flex;
  flex-direction: column;
}

.splash {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.splash-devalibello {
  text-transform: none;
  font-size: 1.2rem;
  margin-top: 10px;
}

.login-signup {
  display: flex;
  justify-content: center;
  gap: 10px;
}
